<div class="resource-display">
    <div class="resource-item">
        <div class="css-icon icon-metal" title="Metal"></div>
        <span id="metalDisplay">{{ resources.metal if resources else '0' }}</span>
    </div>
    <div class="resource-item">
        <div class="css-icon icon-crystal" title="Crystal"></div>
        <span id="crystalDisplay">{{ resources.crystal if resources else '0' }}</span>
    </div>
    <div class="resource-item">
        <div class="css-icon icon-deuterium" title="Deuterium"></div>
        <span id="deuteriumDisplay">{{ resources.deuterium if resources else '0' }}</span>
    </div>
    <div class="resource-item">
        <div class="css-icon icon-energy" title="Energy"></div>
        <span id="energyDisplay">{{ resources.energy if resources else '0' }}</span>
    </div>
</div>
